<h1>Resultado de la busqueda de: {{ termino }} </h1>
<hr />

<div class="row" *ngIf="heroeBuscado.length==0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <p><strong>No existen resultados con el termino: {{termino}}</strong></p>
    </div>
  </div>
</div>

<div class="card-columns" *ngIf="heroeBuscado.length!=0">
  <div class="card animated fadeIn fast" >
    <img class="card-img-top" [src]="heroeBuscado[0].img" [alt]="heroeBuscado[0].nombre">
    <div class="card-body">
      <h4 class="card-title">{{ heroeBuscado[0].nombre }}</h4>
      <p class="card-text">{{ heroeBuscado[0].bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroeBuscado[0].aparicion }}</small></p>
    </div>
  </div>
</div>


