<div class="row">  

  <div class="col-md-4 animated fadeIn fast">
    <img class="img-fluid" [src]="heroe.img" [alt]="heroe.name" />
    <hr />
    <a class="btn btn-outline-danger btn-block" (click)="goBack()">Regresar</a>
  </div>
  <div class="col-md-8 animated fadeIn fast">
    <h3>{{ heroe.nombre }} <small>({{ heroe.aparicion }})</small></h3>
    <hr />
    <p>{{ heroe.bio }}</p>
    <div>
      <img *ngIf="heroe.casa=='Marvel'" src="assets/img/marvel.png" [alt]="heroe.casa" class="img-logo-marvel animated fadeIn" />
      <img *ngIf="heroe.casa=='DC'" src="assets/img/dc.png" [alt]="heroe.casa" class="img-logo-dc animated fadeIn" />
    </div>
  </div>
</div>