/* You can add global styles to this file, and also import other style files */
body{
  padding-bottom: 50px;
}


.main-container {
  margin-top: 30px;
}

.img-logo-marvel {
  width: 180px;
  max-width: 180px;
}

.img-logo-dc {
  width: 280px;
  max-width: 280px;
}
/* Animations */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
